.Rproj.user
.Rhistory
.RData
.Ruserdata
datos_abiertos_covid19/200415COVID19MEXICO.csv
datos_abiertos_covid19/
datos_abiertos_covid19.zip
diccionario_datos_covid19/
diccionario_datos_covid19.zip
200420COVID19MEXICO.csv
